langchain
langchain_community
loguru
streamlit
beautifulsoup4
geopy
timezonefinder
pytz
requests
python-dotenv
google-search-results
CurrencyConverter
transformers
torch
langchain-google-genai
python-dotenv